In [2]:
import featuretools as ft

In [3]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, RidgeCV
from sklearn.metrics import mean_squared_error

In [4]:
train = pd.read_csv("data/loan.csv", low_memory=False)

In [5]:
test = pd.read_csv("data/test.csv", low_memory=False)

In [6]:
metadata = pd.read_csv("data/description.csv",names="BrowseNotesFile")
metadata

/anaconda2/lib/python3.7/site-packages/pandas/io/parsers.py:678: UserWarning: Duplicate names specified. This will raise an error in the future.
  return _read(filepath_or_buffer, kwds)

,B,r,o,w,s,e,N,o.1,t,e.1,s.1,F,i,l,e.2
0,BrowseNotesFile,Description,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,acceptD,The date which the borrower accepted the offer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,accNowDelinq,The number of accounts on which the borrower i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,accOpenPast24Mths,Number of trades opened in past 24 months.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,addrState,The state provided by the borrower in the loan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,annual_inc_joint,The combined self-reported annual income provi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,annualInc,The self-reported annual income provided by th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,application_type,Indicates whether the loan is an individual ap...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,avg_cur_bal,Average current balance of all accounts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,bcOpenToBuy,Total open to buy on revolving bankcards.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,bcUtil,Ratio of total current balance to high credit/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,chargeoff_within_12_mths,Number of charge-offs within 12 months,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,collections_12_mths_ex_med,Number of collections in 12 months excluding m...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,creditPullD,The date LC pulled credit for this loan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,delinq2Yrs,The number of 30+ days past-due incidences of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,delinqAmnt,The past-due amount owed for the accounts on w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,desc,Loan description provided by the borrower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,dti,A ratio calculated using the borrower’s total ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,dti_joint,A ratio calculated using the co-borrowers' tot...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,earliestCrLine,The date the borrower's earliest reported cred...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,effective_int_rate,The effective interest rate is equal to the in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,emp_title,The job title supplied by the Borrower when ap...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,empLength,Employment length in years. Possible values ar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,expD,The date the listing will expire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,expDefaultRate,The expected default rate of the loan.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,ficoRangeHigh,The upper boundary range the borrower’s FICO a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,ficoRangeLow,The lower boundary range the borrower’s FICO a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,fundedAmnt,The total amount committed to that loan at tha...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,grade,LC assigned loan grade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,homeOwnership,The home ownership status provided by the borr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,serviceFeeRate,Service fee rate paid by the investor for this...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,subGrade,LC assigned loan subgrade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,tax_liens,Number of tax liens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,term,The number of payments on the loan. Values are...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,title,The loan title provided by the borrower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,tot_coll_amt,Total collection amounts ever owed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,tot_cur_bal,Total current balance of all accounts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,tot_hi_cred_lim,Total high credit/credit limit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,total_il_high_credit_limit,Total installment high credit/credit limit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,total_rev_hi_lim,Total revolving high credit/credit limit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,totalAcc,The total number of credit lines currently in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,totalBalExMort,Total credit balance excluding mortgage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,totalBcLimit,Total bankcard high credit/credit limit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,url,URL for the LC page with listing data.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,verified_status_joint,Indicates if the co-borrowers' joint income wa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,zip_code,The first 3 numbers of the zip code provided b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,open_acc_6m,Number of open trades in last 6 months,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,open_il_6m,Number of currently active installment trades,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,open_il_12m,Number of installment accounts opened in past ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,open_il_24m,Number of installment accounts opened in past ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,mths_since_rcnt_il,Months since most recent installment accounts ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,total_bal_il,Total current balance of all installment accounts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,il_util,Ratio of total current balance to high credit/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,open_rv_12m,Number of revolving trades opened in past 12 m...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,open_rv_24m,Number of revolving trades opened in past 24 m...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,max_bal_bc,Maximum current balance owed on all revolving ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,all_util,Balance to credit limit on all trades,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,inq_fi,Number of personal finance inquiries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,total_cu_tl,Number of finance trades,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,inq_last_12m,Number of credit inquiries in past 12 months,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
id                             887379 non-null int64
member_id                      887379 non-null int64
loan_amnt                      887379 non-null float64
funded_amnt                    887379 non-null float64
funded_amnt_inv                887379 non-null float64
term                           887379 non-null object
int_rate                       887379 non-null float64
installment                    887379 non-null float64
grade                          887379 non-null object
sub_grade                      887379 non-null object
emp_title                      835917 non-null object
emp_length                     842554 non-null object
home_ownership                 887379 non-null object
annual_inc                     887375 non-null float64
verification_status            887379 non-null object
issue_d                        887379 non-null object
loan_status                    887379 non-null object
pymnt_plan                     887379 non-null object
url                            887379 non-null object
desc                           126028 non-null object
purpose                        887379 non-null object
title                          887227 non-null object
zip_code                       887379 non-null object
addr_state                     887379 non-null object
dti                            887379 non-null float64
delinq_2yrs                    887350 non-null float64
earliest_cr_line               887350 non-null object
inq_last_6mths                 887350 non-null float64
mths_since_last_delinq         433067 non-null float64
mths_since_last_record         137053 non-null float64
open_acc                       887350 non-null float64
pub_rec                        887350 non-null float64
revol_bal                      887379 non-null float64
revol_util                     886877 non-null float64
total_acc                      887350 non-null float64
initial_list_status            887379 non-null object
out_prncp                      887379 non-null float64
out_prncp_inv                  887379 non-null float64
total_pymnt                    887379 non-null float64
total_pymnt_inv                887379 non-null float64
total_rec_prncp                887379 non-null float64
total_rec_int                  887379 non-null float64
total_rec_late_fee             887379 non-null float64
recoveries                     887379 non-null float64
collection_recovery_fee        887379 non-null float64
last_pymnt_d                   869720 non-null object
last_pymnt_amnt                887379 non-null float64
next_pymnt_d                   634408 non-null object
last_credit_pull_d             887326 non-null object
collections_12_mths_ex_med     887234 non-null float64
mths_since_last_major_derog    221703 non-null float64
policy_code                    887379 non-null float64
application_type               887379 non-null object
annual_inc_joint               511 non-null float64
dti_joint                      509 non-null float64
verification_status_joint      511 non-null object
acc_now_delinq                 887350 non-null float64
tot_coll_amt                   817103 non-null float64
tot_cur_bal                    817103 non-null float64
open_acc_6m                    21372 non-null float64
open_il_6m                     21372 non-null float64
open_il_12m                    21372 non-null float64
open_il_24m                    21372 non-null float64
mths_since_rcnt_il             20810 non-null float64
total_bal_il                   21372 non-null float64
il_util                        18617 non-null float64
open_rv_12m                    21372 non-null float64
open_rv_24m                    21372 non-null float64
max_bal_bc                     21372 non-null float64
all_util                       21372 non-null float64
total_rev_hi_lim               817103 non-null float64
inq_fi                         21372 non-null float64
total_cu_tl                    21372 non-null float64
inq_last_12m                   21372 non-null float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 73 columns):
id                             31 non-null int64
member_id                      31 non-null int64
loan_amnt                      31 non-null int64
funded_amnt                    31 non-null int64
funded_amnt_inv                31 non-null float64
term                           31 non-null object
installment                    31 non-null float64
grade                          31 non-null object
sub_grade                      31 non-null object
emp_title                      27 non-null object
emp_length                     31 non-null object
home_ownership                 31 non-null object
annual_inc                     31 non-null float64
verification_status            31 non-null object
issue_d                        31 non-null object
loan_status                    31 non-null object
pymnt_plan                     31 non-null object
url                            31 non-null object
desc                           20 non-null object
purpose                        31 non-null object
title                          31 non-null object
zip_code                       31 non-null object
addr_state                     31 non-null object
dti                            31 non-null float64
delinq_2yrs                    31 non-null int64
earliest_cr_line               31 non-null object
inq_last_6mths                 31 non-null int64
mths_since_last_delinq         6 non-null float64
mths_since_last_record         0 non-null float64
open_acc                       31 non-null int64
pub_rec                        31 non-null int64
revol_bal                      31 non-null int64
revol_util                     31 non-null float64
total_acc                      31 non-null int64
initial_list_status            31 non-null object
out_prncp                      31 non-null float64
out_prncp_inv                  31 non-null float64
total_pymnt                    31 non-null float64
total_pymnt_inv                31 non-null float64
total_rec_prncp                31 non-null float64
total_rec_int                  31 non-null float64
total_rec_late_fee             31 non-null float64
recoveries                     31 non-null float64
collection_recovery_fee        31 non-null float64
last_pymnt_d                   30 non-null object
last_pymnt_amnt                31 non-null float64
next_pymnt_d                   2 non-null object
last_credit_pull_d             31 non-null object
collections_12_mths_ex_med     31 non-null int64
mths_since_last_major_derog    0 non-null float64
policy_code                    31 non-null int64
application_type               31 non-null object
annual_inc_joint               0 non-null float64
dti_joint                      0 non-null float64
verification_status_joint      0 non-null float64
acc_now_delinq                 31 non-null int64
tot_coll_amt                   0 non-null float64
tot_cur_bal                    0 non-null float64
open_acc_6m                    0 non-null float64
open_il_6m                     0 non-null float64
open_il_12m                    0 non-null float64
open_il_24m                    0 non-null float64
mths_since_rcnt_il             0 non-null float64
total_bal_il                   0 non-null float64
il_util                        0 non-null float64
open_rv_12m                    0 non-null float64
open_rv_24m                    0 non-null float64
max_bal_bc                     0 non-null float64
all_util                       0 non-null float64
total_rev_hi_lim               0 non-null float64
inq_fi                         0 non-null float64
total_cu_tl                    0 non-null float64
inq_last_12m                   0 non-null float64
dtypes: float64(38), int64(13), object(22)
memory usage: 17.8+ KB

In [9]:
# drop id and member_id from training and test set, Drop X2, X3 as they are unique identifiers for each loan and borrower and not useful for our model
train.drop(['id', 'member_id'], axis=1, inplace=True)
test.drop(['id', 'member_id'], axis=1, inplace=True)

In [11]:
# remove '%' from interest rate column and change dtype to numeric
train['int_rate'] = pd.to_numeric(train['int_rate'])/100

In [12]:
train['int_rate'] = pd.to_numeric(train['int_rate'])/100

In [13]:

# drop the rows with missing interest rate values
train = train.dropna(subset=['int_rate'])

In [14]:
train.dropna(subset=['loan_amnt'], inplace=True)

In [15]:

# convert loan_amnt to numeric data type
test['loan_amnt'] = pd.to_numeric(test['loan_amnt'])

# fill rows in test data where there are missing values for loan_amnt column with median values
test['loan_amnt'] = test['loan_amnt'].fillna(test.loan_amnt.median(axis=0))